<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ulster.mur.diamonitor">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme.Launcher">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddBlood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddInsulin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCarbs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserSettings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewBloodReadings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewInsulinMeasures"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewCarbRecords"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewType"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SearchResult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnalyseBlood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
    </application>
</manifest>